<head>
    <style>
        body {
            font-family: "Times New Roman", serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .email-link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #ffffff !important;
            background-color: rgb(0, 118, 130);
            text-decoration: none;
            border-radius: 5px;
        }
        .email-link:hover {
            color: #ffffff;
            background-color: rgb(1, 72, 78);
        }
        .email-link:active {
            color: #ffffff;
            background-color: rgb(0, 118, 130);
        }
        .email-link:visited {
            color: #ffffff;
        }
        .email-link:focus {
            color: #ffffff;
        }
        .email-link:link {
            color: #ffffff;
        }
    </style>
    <title>Xác thực cho trò chơi Đánh lừa AI, nhóm 5 Quản trị học</title>
</head>
<body>
    <p>Gởi {{ first_name }},</p>
    <p>{{ first_name }} đã đăng ký tham gia trò chơi Đánh lừa AI tổ chức bởi nhóm 5, môn học Quản trị học. Để lớp mình chơi vui, nhờ {{ first_name }} xác thực bằng cách chọn số bạn đã thấy trên màn hình lúc nãy:</p>
    <a class="email-link" href="{{ verification_link_1 }}" target="_blank">{{ number_1 }}</a>
    <a class="email-link" href="{{ verification_link_2 }}" target="_blank">{{ number_2 }}</a>
    <a class="email-link" href="{{ verification_link_3 }}" target="_blank">{{ number_3 }}</a>
    <p><br></p>
    <p>Nếu {{ first_name }} không đăng ký tham gia, hãy bỏ qua email này và đừng chia sẻ nó cho ai nhé.</p>
    <p>
        Trân trọng,<br>
        <b>Nhóm 5</b>
    </p>
    <span style="color: #0b5394;"><b>LỚP QUẢN TRỊ HỌC</b></span>
    <div><strong>A:</strong> 59C Nguyen Dinh Chieu, Vo Thi Sau Ward, Dist. 3, Ho Chi Minh City, Vietnam</div>
    <div><strong>T:</strong> 028.7306.1976 - ext 2050</div>
    <div>
        <strong>W:</strong> <a href="https://www.ueh.edu.vn/" target="_blank">https://www.ueh.edu.vn/</a>
    </div>
    <div>
        <strong>E:</strong> <a href="mailto:thanhnguyen.33252020069@st.ueh.edu.vn" target="_blank">thanhnguyen.33252020069@st.ueh.edu.vn</a> <i>(email address effective from 10/10/2024)</i>
    </div>
    <div>
        <img width="420" height="117" src="https://ci3.googleusercontent.com/mail-sig/AIorK4yTnTHIXiPfoJjO7IE6PGaeDAjU1Xy8swkACOlVaN-_G5IK7bgMAS-v8kHTwaQNjAdNClFVnWXxWXWe" alt="Footer Image">
    </div>
</body>